@page "/invoice_addresses"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Responses.InvoiceAddress

@inject IInvoiceAddressClient _invoiceAddressClient
@inject NavigationManager _navigationManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Invoice addresses</PageTitle>
<div style="display: flex; align-items: center;">
    <h1>InvoiceAddresss</h1>    
    <div style="margin-left: 20px;">
        <button @onclick="AddClick">Add</button>
    </div>
</div>

@if (_invoiceAddressList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>
                <th>City</th>
                <th>Street</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoiceAddress in _invoiceAddressList.InvoiceAddresss)
            {
                <tr>                    
                    <td>@invoiceAddress.CompanyName</td>
                    <td>@invoiceAddress.Email</td>
                    <td>@invoiceAddress.Phone</td>
                    <td>@invoiceAddress.State</td>
                    <td>@invoiceAddress.City</td>
                    <td>@invoiceAddress.Street</td>
                    <td>
                        <NavLink class="nav-link" href="@($"invoice_addresses/{invoiceAddress.Id}")">
                            @invoiceAddress.Id
                        </NavLink>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private InvoiceAddressListResponse? _invoiceAddressList;

    protected override async Task OnInitializedAsync()
    {
        _invoiceAddressList = await _invoiceAddressClient.Get();
    }

    private void AddClick()
    {
        _navigationManager.NavigateTo($"/invoice_addresses/add", false);
    }
}
