@page "/users/{IdString}"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Requests.InvoiceAddress
@using Contracts.Requests.User
@using Contracts.Responses.InvoiceAddress
@using Contracts.Responses.User
@using Domain.Exceptions

@inject IInvoiceAddressClient _invoiceAddressClient
@inject IUserClient _userClient
@inject NavigationManager _navigationManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>User</PageTitle>
@if (_user == null)
{
    <h1>User</h1>
    <p><em>Loading...</em></p>
}
else
{
    <div style="display: flex; align-items: center;">
        <h1>@_user.Name</h1>
        @if (_isEditable)
        {
            <div style="margin-left: 20px;">
                <button @onclick="UpdateClick">Update</button>
            </div>
            <div style="margin-left: 20px;">
                <button @onclick="DeleteClick">Delete</button>
            </div>
        }
        else
        {
            <div style="margin-left: 20px;">
                <button @onclick="EditClick">Edit</button>
            </div>            
        }        
    </div>
    @if (_isEditable)
    {
        <b>Email:</b>
        <br />
        @_user.Email
        <br />
        <b>Name:</b>
        <br />
        <input type="text" @bind="_user.Name" />
        <br />
        <b>LastName:</b>
        <br />
        <input type="text" @bind="_user.LastName" />
    }
    else
    {
        <b>Email:</b>
        <br />
        @_user.Email
        <br />
        <b>Name:</b>
        <br />
        @_user.Name
        <br />        
        <b>LastName:</b>
        <br />
        @_user.LastName
    }
}
<br />
<h1>Invoice clients</h1>
@if (invoiceAddressList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>
                <th>City</th>
                <th>Street</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoiceAddress in invoiceAddressList.InvoiceAddresss)
            {
                <tr>
                    <td>@invoiceAddress.CompanyName</td>
                    <td>@invoiceAddress.Email</td>
                    <td>@invoiceAddress.Phone</td>
                    <td>@invoiceAddress.State</td>
                    <td>@invoiceAddress.City</td>
                    <td>@invoiceAddress.Street</td>
                    <td>
                        <NavLink class="nav-link" href="@($"invoice_addresses/{invoiceAddress.Id}")">
                            @invoiceAddress.Id
                        </NavLink>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string IdString { get; set; } = string.Empty;
    private InvoiceAddressListResponse? invoiceAddressList;

    private Guid _userId;
    private bool _isEditable = false;
    private UserResponse? _user;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(IdString) || !Guid.TryParse(IdString, out _userId))
        {
            throw new NotFoundException("Invalid id format");
        }

        await GetUser();
        await GetInvoiceAddresss();
    }

    private async Task GetUser()
    {
        _user = await _userClient.Get(_userId);        
    }

    private void EditClick()
    {
        _isEditable = true;
    }

    private async Task UpdateClick()
    {
        UserUpdateRequest request = new()
            {
                Id = _user!.Id,
                Name = _user.Name,
                LastName = _user.LastName
            };
        await _userClient.Update(request);

        await GetUser();
    }

    private async Task DeleteClick()
    {
        await _userClient.Delete(_userId);
        _navigationManager.NavigateTo("/users", false);
    }

    private async Task GetInvoiceAddresss()
    {
        InvoiceAddressGetRequest request = new()
            {
                UserId = _userId
            };

        invoiceAddressList = await _invoiceAddressClient.Get(request);
    }
}
