@page "/users/{IdString}"
@using Clients.Clients
@using Clients.Interfaces
@using Common
@using Contracts.Requests.Customer
@using Contracts.Requests.Seller
@using Contracts.Requests.User
@using Contracts.Responses.Customer
@using Contracts.Responses.Seller
@using Contracts.Responses.User
@using Domain.Exceptions
@using Microsoft.AspNetCore.Components.QuickGrid

@inject ISellerClient _sellerClient
@inject IUserClient _userClient
@inject NavigationManager _navigationManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>User</PageTitle>
@if (_error != null)
{
    <h1>Error</h1>
    @_error.Message
    <br />
    @_error.ExtendedMessage
    <br />
}
@if (_user == null)
{
    <h1>User</h1>
    <p><em>Loading...</em></p>
}
else
{
    <div style="display: flex; align-items: center;">
        <h1>@_user!.Name</h1>        
        <div style="margin-left: 20px;">
            <button @onclick="EditClick">Edit</button>
        </div>      
    </div>
    <b>Email:</b>
    <br />
    @_user.Email
    <br />
    <b>Name:</b>
    <br />
    @_user.Name
    <br />        
    <b>LastName:</b>
    <br />
    @_user.LastName    
}
<br />
<div style="display: flex; align-items: center;">
    <h1>Sellers:</h1>
    <div style="margin-left: 20px;">
        <button @onclick="AddSellerClick">Add</button>
    </div>
</div>
@if (_sellerList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <QuickGrid Items="@_sellerQueryable" Pagination="_pagination">
                <PropertyColumn Title="Name" Property="@(i => i.CompanyName)" Sortable="true" Align="Align.Left" Class=" country-name">
                    <ColumnOptions>
                        <div class="search-box">
                            <input type="search" autofocus @onchange="SearchByName" placeholder="Seller name..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>
                <PropertyColumn Title="Company number" Property="@(i => i.CompanyNumber)" Align="Align.Right" />
                <PropertyColumn Title="Email" Property="@(i => i.Email)" Align="Align.Right" />
                <PropertyColumn Title="Phone" Property="@(i => i.Phone)" Align="Align.Right" />
                <PropertyColumn Title="State" Property="@(i => i.State)" Align="Align.Right" />
                <PropertyColumn Title="City" Property="@(i => i.City)" Align="Align.Right" />
                <PropertyColumn Title="Street" Property="@(i => i.Street)" Align="Align.Right" />
                <TemplateColumn Title="Action">
                    <button @onclick="@(() => EditSeller(context))" class="btn btn-info">Edit</button>
                    <button @onclick="@(() => DeleteSeller(context))" class="btn btn-danger">Delete</button>
                </TemplateColumn>
            </QuickGrid>
        </div>
        <div class="card-footer"><Paginator State="@_pagination" /></div>
    </div>    
}

@code {
    [Parameter]
    public string IdString { get; set; } = string.Empty;

    private Guid _userId;
    private UserResponse? _user;

    private SellerListResponse? _sellerList;
    private PaginationState _pagination = new PaginationState { ItemsPerPage = 50 };
    private IQueryable<SellerResponse> _sellerQueryable = Enumerable.Empty<SellerResponse>().AsQueryable();
    private ErrorModel? _error;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(IdString) || !Guid.TryParse(IdString, out _userId))
        {
            throw new NotFoundException("Invalid id format");
        }

        var response = await _userClient.Get(_userId);
        bool sucess = response.Match(
            user =>
            {
                _user = user;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess)
            return;

        await GetSellers();
    }

    private void EditClick()
    {
        _navigationManager.NavigateTo($"/users/update{IdString}", false);
    }    

    private async Task DeleteClick()
    {
        await _userClient.Delete(_userId);
        _navigationManager.NavigateTo("/users", false);
    }

    private async Task GetSellers()
    {
        SellerGetRequest request = new()
            {
                UserId = _userId
            };

        var response = await _sellerClient.Get(request);
        bool sucess = response.Match(
            sellers =>
            {
                _sellerList = sellers;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess || _sellerList is null)
            return;

        _sellerQueryable = _sellerList.Sellers.AsQueryable();
    }

    void SearchByName(ChangeEventArgs e)
    {

    }

    void EditSeller(SellerResponse item)
    {
        _navigationManager.NavigateTo($"/items/{item.Id}", false);
    }

    async Task DeleteSeller(SellerResponse item)
    {
        await _sellerClient.Delete(item.Id);
        await GetSellers();
    }

    private void AddSellerClick()
    {
        _navigationManager.NavigateTo($"/sellers/add", false);
    }
}
