@page "/items"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Responses.Item

@inject IItemClient _itemClient
@inject NavigationManager _navigationManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Items</PageTitle>
<div style="display: flex; align-items: center;">
    <h1>Items</h1>    
    <div style="margin-left: 20px;">
        <button @onclick="AddClick">Add</button>
    </div>
</div>

@if (itemList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Id</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in itemList.Items)
            {
                <tr>                    
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <th>@item.Quantity</th>
                    <td>
                        <NavLink class="nav-link" href="@($"items/{item.Id}")">
                            @item.Id
                        </NavLink>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ItemListResponse? itemList;

    protected override async Task OnInitializedAsync()
    {
        itemList = await _itemClient.Get();
    }

    private void AddClick()
    {
        _navigationManager.NavigateTo($"/items/add", false);
    }
}
