@page "/sellers"
@using Clients.Clients
@using Clients.Interfaces
@using Contracts.Responses.Seller
@using Microsoft.AspNetCore.Components.QuickGrid

@inject ISellerClient _sellerClient
@inject NavigationManager _navigationManager

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Sellers</PageTitle>
<div style="display: flex; align-items: center;">
    <h1>Sellers</h1>    
    <div style="margin-left: 20px;">
        <button @onclick="AddClick">Add</button>
    </div>
</div>

@if (sellerList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-header">
                        
        </div>
        <div class="card-body">
            <QuickGrid Items="@SellersQueryable" Pagination="pagination">                            
                <PropertyColumn Title="Name" Property="@(i => i.CompanyName)" Sortable="true" Align="Align.Left" Class=" country-name">
                    <ColumnOptions>
                        <div class="search-box">
                            <input type="search" autofocus @onchange="SearchByName" placeholder="Seller name..." />
                        </div>
                    </ColumnOptions>
                </PropertyColumn>
                <PropertyColumn Title="Company number" Property="@(i => i.CompanyNumber)" Align="Align.Right" />
                <PropertyColumn Title="Email" Property="@(i => i.Email)" Align="Align.Right" />
                <PropertyColumn Title="Phone" Property="@(i => i.Phone)" Align="Align.Right" />
                <PropertyColumn Title="State" Property="@(i => i.State)" Sortable="true" Align="Align.Right" />
                <PropertyColumn Title="City" Property="@(i => i.City)" Sortable="true" Align="Align.Right" />
                <PropertyColumn Title="Street" Property="@(i => i.Street)" Align="Align.Right" />
                <PropertyColumn Title="Bank Name" Property="@(i => i.BankName)" Align="Align.Right" />
                <PropertyColumn Title="Bank number" Property="@(i => i.BankNumber)" Align="Align.Right" />
                <!--   <PropertyColumn Property="@(p => p.da)" Format="yyyy-MM-dd" Sortable="true" /> -->
                <TemplateColumn Title="Action">
                    <button @onclick="@(() => Edit(context))" class="btn btn-info">Edit</button>
                    <button @onclick="@(() => Delete(context))" class="btn btn-danger">Delete</button>
                </TemplateColumn>
            </QuickGrid>
        </div>
        <div class="card-footer"><Paginator State="@pagination" /></div>
    </div>
}

@code {
    private SellerListResponse? sellerList;
    PaginationState pagination = new PaginationState { ItemsPerPage = 50 };
    IQueryable<SellerResponse> SellersQueryable = Enumerable.Empty<SellerResponse>().AsQueryable();

    async Task GetData()
    {
        sellerList = await _sellerClient.Get();
        SellersQueryable = sellerList.Sellers.AsQueryable();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }    

    void SearchByName(ChangeEventArgs e)
    {
       
    }

    void Edit(SellerResponse seller)
    {
        _navigationManager.NavigateTo($"/sellers/{seller.Id}", false);
    }

    async Task Delete(SellerResponse seller)
    {
        await _sellerClient.Delete(seller.Id);
        await GetData();
    } 

    private void AddClick()
    {
        _navigationManager.NavigateTo($"/sellers/add", false);
    }
}
