@page "/invoices/add"
@using Clients.Clients
@using Clients.Interfaces
@using Common
@using Contracts.Requests.Customer
@using Contracts.Requests.Invoice
@using Contracts.Requests.Item
@using Contracts.Requests.Seller
@using Contracts.Responses
@using Contracts.Responses.Customer
@using Contracts.Responses.Item
@using Contracts.Responses.Seller
@using Contracts.Responses.User
@using Domain.Exceptions
@using Microsoft.Fast.Components.FluentUI
@using Domain.Models

@inject NavigationManager _navigationManager
@inject IInvoiceClient _invoiceClient
@inject IItemClient _itemClient
@inject ISellerClient _sellerClient
@inject ICustomerClient _customerClient
@inject IUserClient _userClient

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Invoice add</PageTitle>

<div style="display: flex; align-items: center;">
    <div style="margin-left: 20px;">
        <button @onclick="AddClick">Add</button>
    </div>
</div>

@if (_error != null)
{
    <h1>Error</h1>
    @_error.Message
    <br />
    @_error.ExtendedMessage
    <br />
}
<b>User Id:</b>
<br />
<input type="text" @bind="_invoice.UserId" style="width: 400px;" />
<br />
<div class="row">
    <div class="col-md-3">
        <div style="display; flex-direction: row; justify-content: center; align-items: center">
            <b>Create date:</b>
            <br />
            <input type="date" @bind="_invoice.CreatedDate" />
        </div>
        <div style="display; flex-direction: row; justify-content: center; align-items: center">
            <b>Due date:</b>
            <br />
            <input type="date" @bind="_invoice.DueDate" />
        </div>
        <div style="display; flex-direction: row; justify-content: center; align-items: center">
            <b>Select seller:</b>
            <select class="form-select" @bind="@_sellerFilter.SelectedId">
                @foreach (var filter in _sellerFilter.SelectionList)
                {
                    <option value=@filter.Key>@filter.Value</option>
                }
            </select>
            @if (_sellerFilter.Changed())
            {
                Task.Run(async () => await SellerChange()).Wait();
            }
        </div>
        <div style="display; flex-direction: row; justify-content: center; align-items: center">
            <b>Select customer:</b>
            <select class="form-select" @bind="@_customerFilter.SelectedId">
                @foreach (var filter in _customerFilter.SelectionList)
                {
                    <option value=@filter.Key>@filter.Value</option>
                }
            </select>
            @if (_customerFilter.Changed())
            {
                Task.Run(async () => await CustomerChange()).Wait();
            }
        </div>
        <div style="display; flex-direction: row; justify-content: center; align-items: center">
            <b>Comment:</b>
            <br />
            <input type="text" @bind="_invoice.Comments" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td style="width:40%" >Items</td>
                <td style="width:39%">Comment</td>
                <td style="width:7%">Quantity</td>
                <td style="width:7%">Unit price</td>
                <td style="width:7%">Total price</td>
            </tr>            
        </thead>
        <tbody>
            @for (int z = 0; z < _itemFilters.Count; z++)
            {
                int index = z;
                <tr>
                    <td>
                        <select class="form-select" @bind="@_itemFilters[index].SelectedId">
                            @foreach (var filter in _itemFilters[index].SelectionList)
                            {
                                <option value=@filter.Key>@filter.Value</option>
                            }
                        </select>
                        @if (_itemFilters[index].Changed())
                        {
                            ItemChange(index);
                        }
                    </td>
                    @if (_itemFilters[index].IsValid())
                    {
                        Guid id = _itemFilters[index].SelectedId;
                        ItemResponse item = _itemsList!.Items.Find(i => i.Id == id)!;
                        <td>
                            <input type="text" @bind="_invoice.Items[index].Comments" />
                        </td>
                        <td>
                            <input type="decimal" @bind="_invoice.Items[index].Quantity" />
                        </td>
                        decimal itemTotalPrice = item.Price * _invoice.Items[index].Quantity;
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @itemTotalPrice
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private InvoiceAddRequest _invoice = new();
    private UserResponse? _user;
    private SellerListResponse? _sellersList;
    private CustomerListResponse? _customersList;
    private ItemListResponse? _itemsList;
    private ErrorModel? _error;

    private AppFilter _sellerFilter { get; set; } = new(false);
    private AppFilter _customerFilter { get; set; } = new(false);
    private List<AppFilter> _itemFilters { get; set; } = new();

    public async Task SellerChange()
    {
        _sellerFilter.UpdateSelected();

        _invoice.SellerId = _sellerFilter.SelectedId;

        CustomerGetRequest customerGetRequest = new() { SellerId = _invoice.SellerId };
        var customerResponse = await _customerClient.Get(customerGetRequest);

        bool sucess = customerResponse.Match(
            customers =>
            {
                _customersList = customers;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );
        _customerFilter = new AppFilter(false);
        _itemFilters.Clear();
        _invoice.Items.Clear();
        
        if (!sucess || _customersList is null)
            return;

        foreach (var customer in _customersList.Customers)
            _customerFilter.SelectionList.Add(customer.Id, customer.CompanyName);

        _customerFilter.SelectFirstFromList();
    }    

    public async Task CustomerChange()
    {
        _customerFilter.UpdateSelected();

        _invoice.CustomerId = _customerFilter.SelectedId;

        ItemGetRequest itemGetRequest = new() { CustomerId = _invoice.CustomerId};
        var itemResponse = await _itemClient.Get(itemGetRequest);

        bool sucess = itemResponse.Match(
            items =>
            {
                _itemsList = items;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );
        _itemFilters.Clear();
        _invoice.Items.Clear();

        _itemFilters.Add(new AppFilter());
        
        if (!sucess || _itemsList is null)
            return;        

        foreach (var item in _itemsList.Items)
            _itemFilters[0].SelectionList.Add(item.Id, item.Name);
    }

    public void ItemChange(int index)
    {              
        _itemFilters[index].UpdateSelected();


        if (!_itemFilters[index].IsValid())
        {
            if (index != _itemFilters.Count-1)
            {
                _itemFilters.RemoveAt(index);
                _invoice.Items.RemoveAt(index);
            }
            return;
        }

        _invoice.Items.Add(new InvoiceItemRequest());
        _invoice.Items[index].Id = _itemFilters[index].SelectedId;

        _itemFilters.Add(new AppFilter());        
        foreach (var item in _itemsList!.Items)
            _itemFilters[_itemFilters.Count-1].SelectionList.Add(item.Id, item.Name);

    }

    protected override async Task OnInitializedAsync()
    {
        _invoice.UserId = Guid.Parse("34840efd-0036-42af-b686-3560cb8a0e84");
        _invoice.CreatedDate = DateTime.Now;
        _invoice.DueDate = _invoice.CreatedDate.AddDays(7);

        var userResponse = await _userClient.Get(_invoice.UserId);
        bool sucess = userResponse.Match(
            user =>
            {
                _user = user;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess)
            return;

        SellerGetRequest sellerGetRequest = new() { UserId = _invoice.UserId };
        var sellerResponse = await _sellerClient.Get(sellerGetRequest);
        sucess = sellerResponse.Match(
            sellers =>
            {
                _sellersList = sellers;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess || _sellersList is null)
            return;

        foreach (var seller in _sellersList.Sellers)
            _sellerFilter.SelectionList.Add(seller.Id, seller.CompanyName);

        if (_sellersList.Sellers.Count > 0)
        {
            _invoice.SellerId = _sellersList.Sellers[0].Id;
            _sellerFilter.SelectedId = _invoice.SellerId;
            await SellerChange();
        }

        _invoice.CustomerId = _customerFilter.SelectedId;
    }

    private async Task AddClick()
    {
        var response = await _invoiceClient.Add(_invoice);
        
        bool sucess = response.Match(
            addResponse =>
            {
                _navigationManager.NavigateTo($"/invoices/{addResponse.Id}", false);
                _error = null;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );
    }
}
