@page "/invoices/update/{IdString}"
@using AutoMapper
@using Clients.Clients
@using Clients.Interfaces
@using Common
@using Contracts.Requests.Customer
@using Contracts.Requests.Invoice
@using Contracts.Requests.Item
@using Contracts.Requests.Seller
@using Contracts.Responses.Customer
@using Contracts.Responses.Invoice
@using Contracts.Responses.Item
@using Contracts.Responses.Seller
@using Domain.Exceptions
@using Domain.Models

@inject NavigationManager _navigationManager
@inject IInvoiceClient _invoiceClient
@inject ICustomerClient _customerClient
@inject ISellerClient _sellerClient
@inject IItemClient _itemClient
@inject IMapper _mapper

@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Invoice</PageTitle>
@if (_error != null)
{
    <h1>Error</h1>
    @_error.Message
    <br />
    @_error.ExtendedMessage
    <br />
}
@if (_invoiceUpdate == null)
{
    <h1>Invoice</h1>
    <p><em>Loading...</em></p>
}
else
{
    <div style="display: flex; align-items: center;">
        <h1>Invoice</h1>
        <div style="margin-left: 20px;">
            <button @onclick="UpdateClick">Update</button>
        </div>
        <div style="margin-left: 20px;">
            <button @onclick="DeleteClick">Delete</button>
        </div>
    </div>    
    <b>Invoice number:</b>
    <br />
    <input type="number" @bind="_invoiceUpdate.InvoiceNumber" />
    <br />
    <b>Date created:</b>
    <br />
    <input type="date" @bind="_invoiceUpdate.CreatedDate" />
    <br />
    <b>Due date:</b>
    <br />
    <input type="date" @bind="_invoiceUpdate.DueDate" />
    <br />
    <b>Comments:</b>
    <br />
    <input type="text" @bind="_invoiceUpdate.Comments" />
    <br />
    <b>Seller name:</b>
    <br />
    <select class="form-select" @bind="@_sellerFilter.SelectedId">
        @foreach (var filter in _sellerFilter.SelectionList) 
        {
            <option value=@filter.Key>@filter.Value</option>
        }
    </select>
    if (_sellerFilter.Changed())
    {
        Task.Run(async () => await SellerChange()).Wait();
    }        
    <b>Customer name:</b>
    <br />
    <select class="form-select" @bind="@_customerFilter.SelectedId">
        @foreach (var filter in _customerFilter.SelectionList)
        {
            <option value=@filter.Key>@filter.Value</option>
        }
    </select>
    if (_customerFilter.Changed())
    {
        Task.Run(async () => await CustomerChange()).Wait();
    }
    <b>Items:</b>        
    <br />
    <table class="table">
        <thead>
            <tr>
                <td style="width:40%">Items</td>
                <td style="width:39%">Comment</td>
                <td style="width:7%">Quantity</td>
                <td style="width:7%">Unit price</td>
                <td style="width:7%">Total price</td>
            </tr>
        </thead>
        <tbody>
            @for (int z = 0; z < _itemFilters.Count; z++)
            {
                int index = z;
                <tr>
                    <td>
                        <select class="form-select" @bind="@_itemFilters[index].SelectedId">
                            @foreach (var filter in _itemFilters[index].SelectionList)
                            {
                                <option value=@filter.Key>@filter.Value</option>
                            }
                        </select>
                        @if (_itemFilters[index].Changed())
                        {
                            ItemChange(index);
                        }
                    </td>
                    @if (_itemFilters[index].IsValid())
                    {
                        Guid id = _itemFilters[index].SelectedId;
                        ItemResponse item = _itemsList!.Items.Find(i => i.Id == id)!;
                        <td>
                            <input type="text" @bind="_invoiceUpdate.Items[index].Comments" />
                        </td>
                        <td>
                            <input type="decimal" @bind="_invoiceUpdate.Items[index].Quantity" />
                        </td>
                        decimal itemTotalPrice = item.Price * _invoiceUpdate.Items[index].Quantity;
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @itemTotalPrice
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <b>Total:</b>
    <br />
    decimal totalPrice = 0;
    foreach (var item in _invoiceUpdate.Items)
        totalPrice += item.Price * item.Quantity;
    <b>@totalPrice</b>
    <br /> 
}

@code {
    [Parameter]
    public string IdString { get; set; } = string.Empty;

    private Guid _invoiceId;

    private InvoiceResponse? _invoice;
    private InvoiceUpdateRequest? _invoiceUpdate;

    private SellerListResponse? _sellersList;
    private CustomerListResponse? _customersList;
    private ItemListResponse? _itemsList;

    private AppFilter _sellerFilter { get; set; } = new();
    private AppFilter _customerFilter { get; set; } = new();
    private List<AppFilter> _itemFilters { get; set; } = new();
    private ErrorModel? _error;

    public async Task SellerChange()
    {
        _sellerFilter.UpdateSelected();

        _invoiceUpdate!.Seller = _mapper.Map<SellerUpdateRequest>(await _sellerClient.Get(_sellerFilter.SelectedId));
        _invoiceUpdate!.Customer = new CustomerUpdateRequest();
        _invoiceUpdate!.Items.Clear();

        CustomerGetRequest customerGetRequest = new() { SellerId = _invoiceUpdate!.Seller.Id };
        _customersList = await _customerClient.Get(customerGetRequest);

        _customerFilter = new AppFilter(false);
        foreach (var customer in _customersList.Customers)
            _customerFilter.SelectionList.Add(customer.Id, customer.CompanyName);
    }
    public async Task CustomerChange()
    {
        _customerFilter.UpdateSelected();

        _invoiceUpdate!.Customer = _mapper.Map<CustomerUpdateRequest>(await _customerClient.Get(_customerFilter.SelectedId));
        _invoiceUpdate!.Items.Clear();

        ItemGetRequest itemGetRequest = new() { CustomerId = _invoiceUpdate!.Customer.Id };
        _itemsList = await _itemClient.Get(itemGetRequest);

        _itemFilters = new List<AppFilter>();
        _itemFilters.Add(new AppFilter());
        foreach (var item in _itemsList.Items)
            _itemFilters[0].SelectionList.Add(item.Id, item.Name);
    }

    public void ItemChange(int index)
    {        
        bool add = _itemFilters[index].WasUnselected();
        Guid selectedId = _itemFilters[index].SelectedId;
        ItemResponse itemSelected = _itemsList!.Items.Find(i => i.Id == selectedId)!;

        _itemFilters[index].UpdateSelected();

        if (!_itemFilters[index].IsValid())
        {
            if (index == _itemFilters.Count - 1)
                return;

            _itemFilters.RemoveAt(index);
            _invoiceUpdate!.Items.RemoveAt(index);
        }  
        
        if (add)
            _invoiceUpdate!.Items.Add(new InvoiceItemUpdateRequest());
        
        _invoiceUpdate!.Items[index].Id = selectedId;
        _invoiceUpdate!.Items[index].Price = itemSelected.Price;
        _invoiceUpdate!.Items[index].Name = itemSelected.Name;

        if (add)
        {
            _itemFilters.Add(new AppFilter());
            foreach (var item in _itemsList!.Items)
                _itemFilters[_itemFilters.Count - 1].SelectionList.Add(item.Id, item.Name);
        }            
    }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(IdString) || !Guid.TryParse(IdString, out _invoiceId))
        {
            throw new NotFoundException("Invalid id format");
        }

        _invoice = await _invoiceClient.Get(_invoiceId);
        _invoiceUpdate = _mapper.Map<InvoiceUpdateRequest>(_invoice);

        await GetSellers(_invoice!.UserId);
        await GetCustomers(_invoice!.Seller!.Id);        
        await GetItems(_invoice!.Customer!.Id);

        _sellerFilter = new AppFilter(false);
        foreach (var seller in _sellersList!.Sellers)
            _sellerFilter.SelectionList.Add(seller.Id, seller.CompanyName);

        _sellerFilter.UpdateSelected(_invoice!.Seller!.Id);

        _customerFilter = new AppFilter(false);
        foreach (var customer in _customersList!.Customers)
            _customerFilter.SelectionList.Add(customer.Id, customer.CompanyName);

        _customerFilter.UpdateSelected(_invoice!.Customer!.Id);

        _itemFilters = new List<AppFilter>();
        for (int i = 0; i < _invoice!.Items!.Count + 1; i++)
        {
            _itemFilters.Add(new AppFilter());
            foreach (var item in _itemsList!.Items)
                _itemFilters[i].SelectionList.Add(item.Id, item.Name);
        }

        for (int i = 0; i < _invoice!.Items!.Count; i++)
            _itemFilters[i].UpdateSelected(_invoice!.Items[i].Id);
    }

    private async Task GetSellers(Guid userId)
    {
        var response = await _sellerClient.Get(new SellerGetRequest() { UserId = userId });
        var sucess = response.Match(
            sellers =>
            {
                _sellersList = sellers;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess || _sellersList is null)
            return;
    }

    private async Task GetCustomers(Guid sellerId)
    {
        var response = await _customerClient.Get(new CustomerGetRequest() { SellerId = sellerId });
        var sucess = response.Match(
            customers =>
            {
                _customersList = customers;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess || _customersList is null)
            return;
    }    

    private async Task GetItems(Guid customerId)
    {
        var response = await _itemClient.Get(new ItemGetRequest() { CustomerId = customerId });
        var sucess = response.Match(
            items =>
            {
                _itemsList = items;
                return true;
            },
            error =>
            {
                _error = error;
                return false;
            }
        );

        if (!sucess || _itemsList is null)
            return;
    }

    private async Task UpdateClick()
    {        
        await _invoiceClient.Update(_invoiceUpdate!);

        _navigationManager.NavigateTo($"/invoices/{_invoiceId}", false);
    }

    private async Task DeleteClick()
    {
        await _invoiceClient.Delete(_invoiceId);
        _navigationManager.NavigateTo("/invoices", false);
    }
}
